@charset "UTF-8";

/*

Extra Small (XS): Até 576px (Ex.: Smartphones pequenos)
Small (SM): 576px a 768px (Ex.: Smartphones grandes)
Medium (MD): 768px a 992px (Ex.: Tablets)
Large (LG): 992px a 1200px (Ex.: Laptops pequenos)
Extra Large (XL): 1200px a 1400px (Ex.: Laptops grandes e monitores)

*/

@media screen and (min-width: 760px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to bottom, pink, #DC858C, #C76368, brown 125%);
    }
    section#login{
        min-width: 650px;
        display: flex;
    }
    div#imagem{
        display: inline-block;
        width: 31%;
        height: 350.800px;
        border-radius: 15px 0px 0px 15px;
    }

    div#formulario{
        display: inline-block;
        width: 70%;
        border-radius: 0px 15px 15px 0px;
    }
}

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to bottom, pink, #DC858C, #C76368, brown 125%);
    }
    section#login{
        display: flex;
        flex-direction: row-reverse;
        min-width: 950px;
        height: 400px;

    }
    div#imagem{
        width: 50%;
        height: 400px;
        border-radius: 0px 15px 15px 0px;
    }
    div#formulario{
        width: 50%;
        border-radius: 15px 0px 0px 15px;
    }
    p.enviar input{
        margin: 25px;
    }
}
